*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Myriad Web Pro
}

/* ↓↓ Navbar ↓↓ */
/* Selve navigationsbaren */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a3478;
    font-family: charter;
    height: 8vh;
    width: 100%;
}

/* Logo i navigationsbaren */
nav img {
    height: 7vh;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

/* boksen links ligger i, i navigationsbaren */
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.nav-links a {
    height: 100%;
    padding: 0rem 2vh;
    text-decoration: none; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #fcba16;
    font-size: 2.2vh;
}


/* ↓↓ dropdown meny ↓↓*/
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 11rem;
    background-color: #2a3478;
    font-size: 0.9375rem;
}

.dropdown-content a {
    margin: 1rem 0; 
    color: #fcba16;
  
    display: flex;
    justify-content: flex-start;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ↓↓ Burger menu ↓↓ */
.burger {
    display: none;
    cursor: pointer;

}
.burger div {
    width: 5vh; /* 7vh * 0.7143 */
    height: 0.6vh; /* 0.84vh * 0.7143 */
    background-color: #fcba16;
    margin: 1vh; /* 1.4vh * 0.7143 */
}

.burger.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-1vh, 1.2vh); /* -1.4vh * 0.7143, 1.68vh * 0.7143 */
}

.burger.toggle div:nth-child(2) {
    opacity: 0;
}

.burger.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-1vh, -1.2vh); /* -1.4vh * 0.7143, -1.68vh * 0.7143 */
}
/* ↓↓ Main ↓↓ */
.main-index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: space;
}

.main-index section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

article h1{ 
    font-size: 8vh;
    text-align: center;
    color: #2a3478;
    font-family: charter;
}

article h2{ 
    font-size: 4vh;
    text-align: center;
    color: #2a3478;
    font-family: charter;
    margin: 1.5rem 0 0 0;
    border: #fcba16 solid 3px;
}

article img{
    width: 20vh;
    height: auto;
    margin: 1.5rem 0;
    
}

article h3{ 
    font-size: 1.8rem;
    font-style: italic;
    width: 100%;
    padding: 0 6rem 0 6rem;
    color: #2a3478;
    
}

article p{
    font-size: 1rem;
    color: #2a3478;
    text-align: justify;
    margin: 0 6rem 3rem 6rem;

}


.forside-billede{
    height: 92vh;
    width: 61vh;
}



/* Media query til mobil */
@media screen and (max-width: 768px) {

    .nav-links {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 10vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        display: none;
        background-color: rgb(74, 24, 128);
    }

    /* Gør min burgerbar synlig */
    .burger {
        display: block;
    }
}

/* ! Skal ligge nederst ! */
/* Gør linksne synlige når man trykker på burgermenu */
.nav-links {
    transform: translateX(0);
}

.nav-active {
    display: flex;
    transform: translateX(0%);
}