*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Myriad Web Pro
}

/* ↓↓ Navbar ↓↓ */
/* Selve navigationsbaren */
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #2a3478;
    font-family: charter;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* Logo i navigationsbaren */
nav img {
    height: 7vh;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 1vh;
}

/* boksen links ligger i, i navigationsbaren */
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.nav-links a {
    height: 100%;
    padding: 0rem 2vh;
    text-decoration: none; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #fcba16;
    font-size: 2.2vh;
}

.nav-links a:hover {
    transform: scale(1.1);
}


/* ↓↓ dropdown meny ↓↓*/
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 22vh;
    background-color: #2a3478;
    font-size: 2.2vh;
}

.dropdown-content a {
    margin: 2.2vh 0; 
    color: #fcba16;
    display: flex;
    justify-content: flex-start;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ↓↓ Burger menu ↓↓ */
.burger {
    display: none;
    cursor: pointer;

}
.burger div {
    width: 5vh; /* 7vh * 0.7143 */
    height: 0.6vh; /* 0.84vh * 0.7143 */
    background-color: #fcba16;
    margin: 1vh; /* 1.4vh * 0.7143 */
}

.burger.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-1vh, 1.2vh); /* -1.4vh * 0.7143, 1.68vh * 0.7143 */
}

.burger.toggle div:nth-child(2) {
    opacity: 0;
}

.burger.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-1vh, -1.2vh); /* -1.4vh * 0.7143, -1.68vh * 0.7143 */
}

/* ↓↓ Main på index filen ↓↓ */
main{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.main-index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    width: 100%;
    padding-top: 8vh;
    
}

.main-index section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.main-index article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-index article h1{ 
    font-size: 8vh;
    text-align: center;
    color: #2a3478;
    font-family: charter;
}

.main-index article h2{ 
    font-size: 4vh;
    text-align: center;
    color: #2a3478;
    font-family: charter;
    margin: 1.5rem 0 0 0;
    border: #fcba16 solid 3px;
}

.main-index article img{
    width: 20vh;
    height: auto;
    margin: 1.5rem 0;
    
}

.main-index article h3{ 
    font-size: 1.8rem;
    font-style: italic;
    width: 100%;
    padding: 0 6rem 0 6rem;
    color: #2a3478;
    
}

.forside-billede{
    height: 92vh;
    width: auto;
}

.forside-billede {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.forside-billede.loaded {
    opacity: 1;
}

/* ↓↓ Main på vores øl filen ↓↓ */
.main-vores-oel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 84vh;
    width: 100%;
    padding-top: 8vh;
}


.main-vores-oel section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.overskrift{
   margin: 0 6rem 0 6rem;
}

.overskrift h2
{
    font-size: 3.5vh;
    color: #2a3478;
    font-family: charter;
}

.main-vores-oel article p{
    font-size: 1rem;
    color: #2a3478;
    text-align: justify;
    margin: 0 6rem 3rem 6rem;

}

.streg-ipa{
    width: 40vw; 
    height: 0.3vh; 
    background-color: #96d9ef;
    margin: 0.5vw 0;
}
.streg-lager{
    width: 40vw; 
    height: 0.3vh; 
    background-color: #b6d98c;
    margin: 0.5vw 0;
}
.streg-stout{
    width: 40vw; 
    height: 0.3vh; 
    background-color: #f5831f;
    margin: 0.5vw 0;
}
.streg-fruity{
    width: 40vw; 
    height: 0.3vh; 
    background-color: #f69da8;
    margin: 0.5vw 0;
}
.streg-pilsner{
    width: 40vw; 
    height: 0.3vh; 
    background-color: #fdbc17;
    margin: 0.5vw 0;
}
.streg-weissbier{
    width: 40vw; 
    height: 0.3vh; 
    background-color: #fbecca;
    margin: 0.5vw 0;
}

/* ↓↓ Slideshow ↓↓ */
.slider-ipa {
    width: 53.5vh;
    height: auto;
    overflow: hidden;
    border: #96d9ef solid 0.3vh;
}
.slider-lager{
    width: 53.5vh;
    overflow: hidden;
    border: #b6d98c solid 0.3vh;
}
.slider-stout{
    width: 53.5vh; /* 300px * 1.5 = 450px */
    overflow: hidden;
    border: #f5831f solid 0.3vh;
}
.slider-fruity{
    width: 53.5vh; /* 300px * 1.5 = 450px */
    overflow: hidden;
    border: #f69da8 solid 0.3vh;
}
.slider-pilsner{
    width: 53.5vh; /* 300px * 1.5 = 450px */
    overflow: hidden;
    border: #fdbc17 solid 0.3vh;
}
.slider-weissbier{
    width: 53.5vh; /* 300px * 1.5 = 450px */
    overflow: hidden;
    border: #fbecca solid 0.3vh;
}

.images{
    display: flex;
}

.images img{
    height: 71.5vh; /* 400px * 1.5 = 600px */
    width: auto;
    transition: all 0.15s ease; 
}

.images input{
    display: none;
}

.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.slider-ipa .dots label {
    height: 2.385vh;
    width: 2.385vh;
    border-radius: 50%;
    border: solid 0.3vh #96d9ef;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 0.353vh;
}
.slider-lager .dots label {
    height: 2.385vh;
    width: 2.385vh;
    border-radius: 50%;
    border: solid 0.3vh #b6d98c;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 0.353vh;
}
.slider-stout .dots label {
    height: 2.385vh;
    width: 2.385vh;
    border-radius: 50%;
    border: solid 0.3vh #f5831f;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 0.353vh;
}
.slider-fruity .dots label {
    height: 2.385vh;
    width: 2.385vh;
    border-radius: 50%;
    border: solid 0.3vh #f69da8;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 0.353vh;
}
.slider-pilsner .dots label {
    height: 2.385vh;
    width: 2.385vh;
    border-radius: 50%;
    border: solid 0.3vh #fdbc17;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 0.353vh;
}
.slider-weissbier .dots label {
    height: 2.385vh;
    width: 2.385vh;
    border-radius: 50%;
    border: solid 0.3vh #fbecca;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 0.353vh;
}

.dots label:hover {background: #2a3478}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -53.5vh; /* 300px * 1.5 = 450px */
}
#img3:checked ~ .m3 {
    margin-left: -107vh; /* 600px * 1.5 = 900px */
}
#img4:checked ~ .m4 {
    margin-left: -160.5vh; /* 900px * 1.5 = 1350px */
}

#img5:checked ~ .m5 {
    margin-left: -0px; /* -450px * 4 */
}
#img6:checked ~ .m6 {
    margin-left: -53.5vh; /* -450px * 5 */
}
#img7:checked ~ .m7 {
    margin-left: -107vh; /* -450px * 6 */
}
#img8:checked ~ .m8 {
    margin-left: -160.5vh; /* -450px * 7 */
}

#img9:checked ~ .m9 {
    margin-left: -0px; /* -450px * 4 */
}
#img10:checked ~ .m10 {
    margin-left: -53.5vh; /* -450px * 5 */
}
#img11:checked ~ .m11 {
    margin-left: -107vh; /* -450px * 6 */
}
#img12:checked ~ .m12 {
    margin-left: -160.5vh; /* -450px * 7 */
}

#img13:checked ~ .m13 {
    margin-left: -0px; /* -450px * 4 */
}
#img14:checked ~ .m14 {
    margin-left: -53.5vh; /* -450px * 5 */
}
#img15:checked ~ .m15 {
    margin-left: -107vh; /* -450px * 6 */
}
#img16:checked ~ .m16 {
    margin-left: -160.5vh; /* -450px * 7 */
}
#img17:checked ~ .m17 {
    margin-left: -0px; /* -450px * 4 */
}
#img18:checked ~ .m18 {
    margin-left: -53.5vh; /* -450px * 5 */
}
#img19:checked ~ .m19 {
    margin-left: -107vh; /* -450px * 6 */
}
#img20:checked ~ .m20 {
    margin-left: -160.5vh; /* -450px * 7 */
}
#img21:checked ~ .m21 {
    margin-left: -0px; /* -450px * 4 */
}
#img22:checked ~ .m22 {
    margin-left: -53.5vh; /* -450px * 5 */
}
#img23:checked ~ .m23 {
    margin-left: -107vh; /* -450px * 6 */
}
#img24:checked ~ .m24 {
    margin-left: -160.5vh; /* -450px * 7 */
}


img{
    width: auto;
    height: 5vh;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a3478;
    height: 35vh;
    width: 100vw;
}

.footer div{
   margin: 2vh;
}

.footer-logo img{
    height: 10vh;
    width: auto;
    display: flex;
    align-items: center;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: #fcba16;
    font-size: 2.2vh;
    font-family: charter;
}

.footer-links a:hover {
    color: white;
}

.footer-links a:active {
    color: #fcba16;
}

.footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.footer-social a img {
    height: 6vh;
    width: auto;
}

.footer-social a img:hover {
    transform: scale(1.5);
}

/* Media query til mobil */
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        display: none;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    .burger {
        display: block;
    }
}


/* ! Skal ligge nederst ! */
/* Gør linksne synlige når man trykker på burgermenu */
.nav-links {
    transform: translateX(0);
}

.nav-active {
    display: flex;
    transform: translateX(0%);
}






