*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* ↓↓ Navbar ↓↓ */
/* Selve navigationsbaren */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a3478;
    height: 4rem;
    width: 100%;
}

/* Logo i navigationsbaren */
nav img {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

/* boksen links ligger i, i navigationsbaren */
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: solid 2px rgb(0, 255, 47);
    list-style: none;
}

.nav-links a {
    border: solid 2px rgb(255, 0, 174);
    height: 100%;
    padding: 0rem 1rem;
    text-decoration: none; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #fcba16;
}


/* ↓↓ dropdown meny ↓↓*/
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 11rem;
    background-color: rgb(255, 247, 251); 
    font-size: 0.9375rem;
}

.dropdown-content a {
    margin: 0.6rem 0; 
    color: rgb(0, 255, 179);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ↓↓ Burger menu ↓↓ */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 2.34375rem; /* 1.5625rem * 1.5 */
    height: 0.28125rem; /* 0.1875rem * 1.5 */
    background-color: #fcba16;
    margin: 7.5px; /* 5px * 1.5 */
    transition: all 0.6s ease;
}

.burger.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-7.5px, 9px); /* -5px * 1.5, 6px * 1.5 */
}

.burger.toggle div:nth-child(2) {
    opacity: 0;
}

.burger.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-7.5px, -9px); /* -5px * 1.5, -6px * 1.5 */
}

.forside-billede{
    width: 40%;
    height: 40%;
    border: solid 2px rgb(0, 255, 47);
}



/* Media query til mobil */
@media screen and (max-width: 768px) {

    .nav-links {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 10vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        display: none;
        background-color: rgb(74, 24, 128);
    }

    /* Gør min burgerbar synlig */
    .burger {
        display: block;
    }
}

/* ! Skal ligge nederst ! */
/* Gør linksne synlige når man trykker på burgermenu */
.nav-links {
    transform: translateX(0);
}

.nav-active {
    display: flex;
    transform: translateX(0%);
}